body {
  background-color: #d5d0d0;
}

a {
  text-decoration: none;
  color: #000;
}

.bold {
  font-weight: bold;
}

.form {
  padding: 50px;
}

.search-input {
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
