.country-details-page {
  padding: 70px 50px;
}

.back-btn {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

.details-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.country-details-img {
  width: 40%;
  border-radius: 10px;
}

.details-text-content {
  width: 100%;
  padding: 0 10vw;
  font-size: 18px;
}

.details-text-content {
  line-height: 2;
  display: flex;
}

.details-name {
  font-size: 28px;
  margin-bottom: 14px;
}

.left-text {
  margin: 0 10px;
}

.right-text {
  margin-top: 68px;
  margin-left: 50px;
}

.languages-arr {
  display: flex;
  border: 1px solid red;
}

.country-borders {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  align-items: center;
}

.border {
  margin: 0 15px;
  background: #fff;
  padding: 10px 15px;
}
