.flag-img {
  height: 210px;
  width: 100%;
  border-bottom: 1px solid #dedede;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.country-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.country-card:hover {
  scale: 1.05;
}

.country-card p,
.country-card h2 {
  padding: 10px 20px;
}

.capital-text {
  margin-bottom: 20px;
}
